# Pythonのバイトコード
__pycache__/
*.py[cod]

# 環境設定ファイル
.env
.venv/
venv/

# IDEの設定ファイル
.idea/
.vscode/

# アーカイブフォルダ
Archive/

# デバッグ用ファイル
test.py
token.json
notify-bot.line.me.har
tokens.json

# Jupyter Notebookのチェックポイント
.ipynb_checkpoints/

# その他の一時ファイル
*.log
*.tmp