# Pythonのバイトコードとキャッシュファイル
__pycache__/
*.py[cod]
*.pyo

# Python仮想環境関連
.venv/
venv/
ENV/
env/
*.env

# IDEやエディタの設定ファイル
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# OSやエディタの一時ファイル
.DS_Store
Thumbs.db
*.swp
*.swo

# Jupyter Notebookのチェックポイント
.ipynb_checkpoints/

# ログファイル
*.log

# テンポラリファイル
*.tmp

# アーカイブフォルダ
Archive/

# 特定のプロジェクトファイルや一時ファイル
OfficialNezuNotify/
login_example.py
NezuNotify/login.py
test.py
example.py

# デバッグやテストで使用するファイル
token.json
tokens.json
notify-bot.line.me.har

# その他のデバッグ/一時ファイル
*.bak
*.backup
*.orig
*.save
